
#header-nav{
    background-color: rgb(239, 245, 158);

}
#dropdown{
    background-color: rgb(152, 248, 227);

}
body {
    background-color: rgb(255, 255, 255);
    padding: 0px;
   
    font-family:cursive;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
*{
    box-sizing: border-box;
}
h1 {
    color: black;
    /*border: blue 2px ridge;*/
    /* box-sizing: border-box;  */
    font-size: 1.75em;
    font-weight: bolder;
    
}

#Chicken{
    background-color: palevioletred;
}

section{
    /*box-sizing: border-box;*/
    
    background-color: rgb(155, 153, 153);
    /*margin: 20px 20px 20px 20px;*/
    border:black 1px ridge;
    
}
p{
    padding: 15px;
    /*clear:right;*/
    font-size: 20px;
}
div{
    border:hidden;
}
/*
@media (min-width:992px){
    div{
        width: 33.33%;
        float: left;
    }
}
@media(min-width:768px) and (max-width:991px){
    .half,.full{
        float:left;

    }
    .half{
        width: 50%;
    }
    .full{
        width: 100%;
    }
}
*/